allure-pytest
apipkg
atomicwrites
attrs
behave
certifi
chardet
colorama
ddt
enum34
execnet
httpagentparser
idna
lxml
mailosaur
more-itertools
namedlist
parse
parse-type
pathlib2
pluggy
pexpect
py
pytest
pytest-cache
pytest-html
pytest-logbook
pytest-metadata
pytest-pep8
pytest-repeat
python-dateutil
requests
scandir
selenium
six
urllib3
virtualenv
websocket-client
pytest_dependency
deepdiff
mysql-connector-python